* {
  border: none;
  border-radius: 0;
  font-family: "CaskaydiaMono Nerd Font Mono", monospace;
  font-size: 17px;
  min-height: 0;
}

window#waybar {
  background: rgba(22, 29, 38, 0.75);
  /* Dark blue-gray from the wallpaper */
  color: #E6E6E6;
  /* Off-white for general text */
}

#workspaces button {
  padding: 0 10px;
  color: #94A1B2;
  /* Muted blue-gray for inactive workspaces */
  background: transparent;
  transition: all 0.2s ease-in-out;
}

#workspaces button:hover {
  background: rgba(70, 81, 100, 0.2);
  color: #E6E6E6;
}

#workspaces button.urgent {
  color: #E55353;
}

/* --- Modules --- */
#pulseaudio,
#tray {
  padding: 0 12px;
  margin: 0 0px;
}

#clock {
  font-weight: bold;
  color: #E6E6E6;
}

#pulseaudio {
  font-size: 24px;
}

#pulseaudio.muted {
  color: #E55353;
}
