* {
  font-family: "RobotoMono Nerd Font Mono", monospace;
  font-size: 15px;
  background: #1e1e2e;
}

#workspaces button {
  padding: 0 8px;
  background: transparent;
  color: #cdd6f4;
  font-weight: normal;
  border: none;
}

#workspaces button.active {
  color: #fff;
  font-weight: bold;
}

#clock {
  padding: 0 12px;
}

